Repository Basparin/GeminiMCPs: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-tools-reference, run-tests

generate-tools-reference:
  name: generate tools reference
  entry: venv/bin/python scripts/generate_tools_reference.py
  language: system
  pass_filenames: false

run-tests:
  name: run pytest
  entry: venv/bin/python -m pytest tests/ --tb=short
  language: system
  pass_filenames: false

Implement automated boilerplate generator tool (generate_boilerplate) to improve developer productivity and code consistency
  Project overview by gemini 2.5 pro.txt
  codesage_mcp/main.py
  codesage_mcp/tools.py
  docs/tools_reference.md
  scripts/generate_tools_reference.py
  tests/test_generate_boilerplate.py
Due: generate-tools-reference, run-tests

Improve boilerplate generator tool with complete templates instead of TODO placeholders
  codesage_mcp/tools.py
  tests/test_generate_boilerplate.py
Due: generate-tools-reference, run-tests

refactor: consolidate duplicate code patterns across the codebase
  codesage_mcp/codebase_manager.py
  codesage_mcp/llm_analysis.py
  codesage_mcp/main.py
  codesage_mcp/tools.py
  codesage_mcp/tools/code_generation.py
  codesage_mcp/tools/codebase_analysis.py
  codesage_mcp/tools/configuration.py
  codesage_mcp/tools/llm_analysis.py
  codesage_mcp/utils.py
  tests/test_main.py
Due: generate-tools-reference, run-tests

security: remove hardcoded API keys and implement secure environment variable management
  .env.example
  codesage_mcp/codebase_manager.py
  codesage_mcp/config.py
  codesage_mcp/tools/configuration.py
  tests/test_codebase_manager.py
  tests/test_generate_llm_api_wrapper.py
  tests/test_parse_llm_response.py
  tests/test_todo_fixme_resolution.py
Due: run-tests

🚀 Major Performance Optimization: Incremental Indexing & Intelligent Caching
  analyze_self.py
  auto_document_tests.py
  codesage_mcp.egg-info/SOURCES.txt
  codesage_mcp.egg-info/dependency_links.txt
  codesage_mcp/cache.py
  codesage_mcp/chunking.py
  codesage_mcp/codebase_manager.py
  codesage_mcp/config.py
  codesage_mcp/indexing.py
  codesage_mcp/main.py
  codesage_mcp/memory_manager.py
  codesage_mcp/searching.py
  codesage_mcp/tools/__init__.py
  codesage_mcp/tools/configuration.py
  generate_test_docs.py
  requirements.txt
  tests/test_codebase_manager.py
Due: generate-tools-reference, run-tests

Docs: Prioritize next steps in todo.md
  todo.md
Due: none

State before starting implementation of todo.md items.
  GEMINI.md
  codesage_mcp/cache.py
  codesage_mcp/codebase_manager.py
  codesage_mcp/gemini_compatibility.py
  codesage_mcp/indexing.py
  codesage_mcp/main.py
  codesage_mcp/searching.py
  codesage_mcp/tools/code_generation.py
  codesage_mcp/tools/codebase_analysis.py
  codesage_mcp/tools/llm_analysis.py
  codesage_mcp/utils.py
  start_server.sh
  test_connection_handling.py
  test_gemini_integration.py
  test_jsonrpc_format.py
  test_mcp_server_integration.py
  test_mcp_server_responses.py
  tests/test_cache_system.py
  tests/test_codebase_manager.py
  tests/test_gemini_compatibility.py
  tests/test_generate_boilerplate.py
  tests/test_generate_llm_api_wrapper.py
  tests/test_indexing_system.py
  tests/test_integration.py
  tests/test_jsonrpc_response_format.py
  tests/test_main.py
  tests/test_main_suggest_code_improvements.py
  tests/test_parse_llm_response.py
  tests/test_suggest_code_improvements.py
  tests/test_todo_fixme_resolution.py
Due: generate-tools-reference, run-tests

Docs: Update AGENT_WORKFLOW.md with orchestration workflow and renumber sections.
  AGENT_WORKFLOW.md
Due: none

Docs: Update AGENT_WORKFLOW.md for autonomous LLM orchestration.
  AGENT_WORKFLOW.md
Due: none

Update AGENT_WORKFLOW.md Section 2 to remove delegation via user reference
  AGENT_WORKFLOW.md
  WORKSPACE_PLAN.md
  WORKSPACE_STRUCTURE.md
  benchmark_results/baseline_results.json
  benchmark_results/bursty_results.json
  bin/start_server.sh
  codesage_mcp/gemini_compatibility.py
  current_file_structure.txt
  docs/GEMINI.md
  docs/GEMINI_CLI_DEBUGGING_GUIDE.md
  docs/docstring_standard.md
  grok_prompt.txt
  objective_file_structure.txt
  tests/conftest.py
  tests/test_configuration_tools.py
  tests/test_connection_handling.py
  tests/test_gemini_compatibility_robustness.py
  tests/test_gemini_integration.py
  tests/test_jsonrpc_format.py
  tests/test_mcp_server_integration.py
  tests/test_mcp_server_responses.py
  tests/workload_simulation.py
  todo.md
Due: run-tests

Implement comprehensive error handling and reporting: custom exception hierarchy, structured logging system, error reporting mechanisms, updated tests, and verification results
  .coverage
  AGENT_WORKFLOW.md
  GEMINI.md
  WORKSPACE_PLAN.md
  WORKSPACE_STRUCTURE.md
  codesage_mcp/cache.py
  codesage_mcp/chunking.py
  codesage_mcp/error_reporting.py
  codesage_mcp/exceptions.py
  codesage_mcp/indexing.py
  codesage_mcp/logging_config.py
  codesage_mcp/main.py
  codesage_mcp/memory_manager.py
  docs/error_handling_analysis.md
  requirements.txt
  tests/conftest.py
  tests/test_error_handling_integration.py
  tests/test_error_reporting.py
  tests/test_exceptions.py
  tests/test_gemini_compatibility_robustness.py
  tests/test_gemini_integration.py
  tests/test_logging_config.py
  tests/test_performance_benchmarks.py
  todo.md
Due: generate-tools-reference, run-tests

feat: Enhance IntelligentCache with comprehensive unit and integration tests, performance analysis with logging, bottleneck identification, and alternative strategy recommendations
  codesage_mcp/cache.py
  tests/test_cache_integration.py
  tests/test_cache_system.py
  todo.md
Due: run-tests

Add comprehensive coding standards and guidelines documentation
  docs/CODING_STANDARDS.md
  docs/modularity_guidelines.md
  docs/naming_conventions.md
Due: none

feat: Implement Advanced Code Modeling and Analysis Tools
  README.md
  codesage_mcp/advanced_analysis.py
  codesage_mcp/code_model.py
  codesage_mcp/indexing.py
  codesage_mcp/main.py
  codesage_mcp/tools/advanced_analysis_tools.py
  codesage_mcp/tools/codebase_analysis.py
  codesage_mcp/tools/llm_analysis.py
  docs/tools_reference.md
  tests/test_advanced_analysis.py
  tests/test_advanced_analysis_comprehensive.py
  tests/test_code_model.py
  tests/test_code_model_comprehensive.py
  tests/test_edge_cases_error_handling.py
  tests/test_large_codebase_performance.py
  tests/test_performance_standards_validation.py
Due: generate-tools-reference, run-tests

Complete modularization of core features and hardware-adaptive test modifications
  codesage_mcp/features/llm_analysis/llm_analysis.py
  codesage_mcp/features/memory_management/workload_pattern_recognition.py
  codesage_mcp/features/performance_monitoring/auto_performance_tuner.py
  codesage_mcp/features/performance_monitoring/performance_report_generator.py
  codesage_mcp/features/performance_monitoring/prometheus_client.py
  codesage_mcp/features/performance_monitoring/regression_detector.py
  codesage_mcp/features/performance_monitoring/trend_analysis.py
  modularization_plan_progress.md
Due: run-tests

feat: CES Master Plan v1.3 - Comprehensive Feedback Integration
  CES v1.2 feedbacks.md
  cognitive_enhancement_system_master_plan.md
Due: none

feat: Update project files with latest changes
  codesage_mcp/__init__.py
  codesage_mcp/features/caching/adaptive_cache_manager.py
  codesage_mcp/features/caching/cache_components.py
  codesage_mcp/features/caching/intelligent_cache.py
  codesage_mcp/features/codebase_manager/advanced_analysis.py
  codesage_mcp/features/codebase_manager/codebase_manager.py
  codesage_mcp/features/memory_management/memory_manager.py
  codesage_mcp/features/memory_management/memory_pattern_monitor.py
  codesage_mcp/features/memory_management/workload_adaptive_memory.py
  qwen_workspace/ERROR_REPORTING_STANDARD.md
  qwen_workspace/tech_task_fix_auto_document_tool_dependency.md
  qwen_workspace/tech_task_fix_count_lines_of_code_hardcoded_path.md
  todo.md
Due: run-tests

Phase 0.1: CES Environment Setup - Complete Implementation
  .env.example
  CES_Development_Companion.md
  Dockerfile
  ces/__init__.py
  ces/ai_orchestrator/__init__.py
  ces/ai_orchestrator/ai_assistant.py
  ces/ai_orchestrator/task_delegation.py
  ces/cli/__init__.py
  ces/cli/ces_cli.py
  ces/codesage_integration.py
  ces/config/__init__.py
  ces/config/ces_config.py
  ces/core/__init__.py
  ces/core/adaptive_learner.py
  ces/core/cognitive_agent.py
  ces/core/ethical_controller.py
  ces/core/memory_manager.py
  ces/utils/__init__.py
  ces/utils/helpers.py
  docs/ces/README.md
  docs/ces/api_reference.md
  docs/ces/architecture.md
  pyproject.toml
  pytest.ini
  requirements.txt
  tests/ces/__init__.py
  tests/ces/core/test_cognitive_agent.py
  tests/ces/core/test_memory_manager.py
Due: run-tests

Phase 0.2: MCP Protocol Integration - Major Milestone
  CES_Development_Companion.md
  ces/ai_orchestrator/ai_assistant.py
  ces/ai_orchestrator/cli_integration.py
  ces/ai_orchestrator/task_delegation.py
  ces/codesage_integration.py
  tests/ces/ai_orchestrator/test_mcp_integration.py
Due: run-tests

Phase 0.3: Basic Integration - COMPLETE
  .github/workflows/phase03_integration_tests.yml
  CES_Development_Companion.md
  ces/cli/ces_cli.py
  docs/ces/phase03_integration_guide.md
  scripts/performance_monitor.py
  scripts/validate_integration.py
  tests/ces/test_error_handling.py
  tests/ces/test_performance_baseline.py
  tests/ces/test_phase03_integration.py
Due: run-tests

Phase 0.4: Enhanced Features Implementation
  CES_Development_Companion.md
  ces/ai_orchestrator/ai_assistant.py
  ces/ai_orchestrator/specialization.py
  ces/analytics/__init__.py
  ces/analytics/analytics_engine.py
  ces/cli/ces_cli.py
  ces/collaborative/__init__.py
  ces/collaborative/session_manager.py
  ces/feedback/__init__.py
  ces/feedback/feedback_manager.py
  ces/onboarding/__init__.py
  ces/onboarding/onboarding_manager.py
  ces/plugins/__init__.py
  ces/plugins/base.py
  ces/plugins/manager.py
  ces/plugins/sample_plugin.py
  ces/utils/helpers.py
  ces/web/__init__.py
  ces/web/dashboard.py
  ces_memory.db
  data/feedback/feedback_entries.json
  data/onboarding/tutorials.json
  data/onboarding/user_progress.json
  docs/ces/README.md
  docs/ces/api_reference_phase04.md
  docs/ces/plugin_development_guide.md
  docs/ces/user_guide.md
  requirements.txt
  run_dashboard.py
Due: run-tests

$feat: Complete Month 1 - Advanced Cognitive Agent Development
  CES_Development_Companion.md
  ces/ai_orchestrator/ai_assistant.py
  ces/codesage_integration.py
  ces/core/cognitive_agent.py
  ces/core/conflict_resolution.py
  ces/core/error_recovery.py
  ces/core/human_ai_interaction.py
  ces/core/integration_validator.py
  ces/core/logging_config.py
  ces/core/memory_manager.py
  ces/core/month1_validator.py
  ces/core/performance_monitor.py
  ces/core/task_workflow.py
  ces/core/tools.py
Due: run-tests

feat: Complete Month 2 - Advanced Memory Management System Enhancement
  ces/core/memory_manager.py
  test_month2_memory.py
Due: run-tests

feat: Complete Month 3 - Multi-AI Integration Framework Implementation
  ces/ai_orchestrator/ai_assistant.py
  ces/ai_orchestrator/cli_integration.py
  ces/core/month3_validator.py
  test_month3.py
  test_month3_simple.py
Due: run-tests

feat: Complete CES Phase 1 - Foundation Development
  benchmark_results/phase1_validation_results.json
  benchmark_results/phase1_validation_summary.txt
  ces/ai_orchestrator/ai_assistant.py
  ces/ai_orchestrator/cli_integration.py
  ces/core/memory_manager.py
  ces/core/performance_monitor.py
  ces/core/performance_optimizer.py
  ces/qa/__init__.py
  ces/qa/accessibility_checker.py
  ces/qa/code_quality.py
  ces/qa/compliance_engine.py
  ces/qa/context_validator.py
  ces/qa/monitoring_system.py
  ces/qa/performance_validator.py
  ces/qa/qa_report_generator.py
  ces/qa/quality_monitor.py
  ces/qa/report_generator.py
  ces/qa/risk_mitigator.py
  ces/qa/security_analyzer.py
  ces/qa/test_framework.py
  codesage_mcp.egg-info/PKG-INFO
  codesage_mcp.egg-info/SOURCES.txt
  codesage_mcp.egg-info/requires.txt
  codesage_mcp.egg-info/top_level.txt
  pyproject.toml
  scripts/phase1_simple_validation.py
  scripts/phase1_validation.py
  scripts/run_phase1_qa.py
  tests/ces/test_workflow_validation.py
Due: run-tests

Phase 2: CES Enhancement Implementation - Complete
  CES_Development_Companion.md
  ces/core/adaptive_learner.py
  ces/core/beta_testing_framework.py
  ces/core/inter_agent_communication.py
  ces/core/performance_monitor.py
  scripts/phase2_validation.py
Due: run-tests

Phase 3: Intelligence - Complete Implementation
  CES_Development_Companion.md
  ces/analytics/advanced_analytics_dashboard.py
  ces/core/adaptive_learner.py
  ces/core/cognitive_load_monitor.py
  ces/core/predictive_engine.py
  ces/qa/intelligence_test_framework.py
  ces/qa/intelligence_validation.py
  scripts/phase3_production_deployment.py
Due: run-tests

Phase 4: Enterprise Optimization - Complete Implementation
  CES_Development_Companion.md
  ces/collaborative/enterprise_collaboration.py
  ces/core/horizontal_scaler.py
  codesage_mcp/features/caching/enterprise_cache.py
  codesage_mcp/features/caching/predictive_warmer.py
  codesage_mcp/features/performance_monitoring/enterprise_monitor.py
  kubernetes/ces-deployment.yaml
  tests/enterprise_phase4_test_suite.py
Due: run-tests

Phase 5 Launch: Community Beta Program & Feedback System
  CES_Development_Companion.md
  beta_launch_results.json
  beta_program_status.json
  ces/core/beta_testing_framework.py
  ces/feedback/__init__.py
  ces/feedback/feedback_analyzer.py
  ces/feedback/feedback_collector.py
  ces/feedback/feedback_integrator.py
  ces/feedback/sentiment_analyzer.py
  scripts/launch_beta_program.py
  scripts/simple_beta_launcher.py
  scripts/standalone_beta_launcher.py
Due: run-tests

Phase 5 Launch: Final Performance Optimization & Validation
  ces/core/phase5_performance_optimizer.py
  scripts/phase5_launch_optimization.py
  scripts/standalone_phase5_optimization.py
Due: run-tests

feat: CES Complete - Autonomous Development Journey Finished
  CES_Development_Companion.md
Due: none

feat: CES Autonomous Development Complete - Full Server Exploration
  analyze_performance.py
  ces/cli/ces_cli.py
  ces/core/cognitive_agent.py
  ces/core/error_recovery.py
  ces/core/memory_manager.py
  ces/web/app.py
  ces/web/static/js/dashboard.js
  ces_exploration_final_summary.md
  ces_memory.db
  ces_memory.db-shm
  ces_memory.db-wal
  ces_performance_report.md
  ces_performance_test_20250901_232604.json
  ces_performance_test_20250901_232604_charts.png
  ces_performance_test_20250901_232604_report.txt
  codesage_mcp/features/caching/adaptive_cache_manager.py
  codesage_mcp/features/codebase_manager/advanced_analysis.py
  codesage_mcp/features/memory_management/memory_manager.py
  codesage_mcp/features/memory_management/workload_pattern_recognition.py
  detailed_analysis.py
  performance_test.py
  simple_analysis.py
  simple_test.py
  test_ai_integrations.py
  test_enterprise_collaboration.py
Due: run-tests

Fix CES critical errors: Add missing methods for system status and health checks
  ces/ai_orchestrator/cli_integration.py
  ces/codesage_integration.py
  ces/core/error_recovery.py
  ces/web/app.py
Due: run-tests

🎉 CES CLI Integration Fix & Task Execution System
  AI_INTEGRATION_ANALYSIS.md
  ces/ai_orchestrator/cli_integration.py
  ces/web/app.py
  task_manager_api/README.md
  task_manager_api/app.py
  task_manager_api/models/__init__.py
  task_manager_api/models/task_model.py
  task_manager_api/requirements.txt
  task_manager_api/routes/__init__.py
  task_manager_api/routes/tasks.py
  task_manager_api/tasks.db
  task_manager_api/test_api.py
  task_manager_api/utils/__init__.py
  task_manager_api/utils/validation.py
Due: run-tests

Path conditions:
  generate-tools-reference: any of: ^(codesage_mcp/tools\.py|codesage_mcp/main\.py|scripts/generate_tools_reference\.py)$ and \.py$
  run-tests: any of: \.py$
